<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilo.css">
    <title>Cafés</title>
</head>
<body>

    <h1>{{ Banana }}</h1>
    <div class="card">
        <img src="/static/cafe1.jpg">
    </div>
    <div class="card">
        <img src="/static/cafe2.jpg">
    </div>
    <div class="card">
        <img src="/static/cafe3.jpg">
    </div>
    <div class="card">
        <img src="/static/cafe4.jpg">
    </div>
    <div>
        <a class='btn-volta' href="/">Voltar à Página Inicial</a>
    </div>
</body>
</html>
