<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>

    <section class="contact-card">
        <h2>Informações de Contato</h2>

        <div class="contact-item">
            <h3>SAC</h3>
            <p>Telefone: 0800-123-456</p>
            <p>Horário de atendimento: Segunda a Sexta, das 8h às 18h</p>
        </div>

        <div class="contact-item">
            <h3>Telefone para Compras</h3>
            <p>Telefone: (11) 98765-4321</p>
            <p>Horário de atendimento: Segunda a Sexta, das 9h às 17h</p>
        </div>

        <div class="contact-item">
            <h3>E-mail</h3>
            <p>Email: atendimento@cafe.com</p>
        </div>

        <div class="contact-item">
            <h3>Endereço</h3>
            <p>Rua dos Cafés, 123</p>
            <p>Bairro: Centro</p>
            <p>Cidade: São Paulo - SP</p>
            <p>CEP: 01234-567</p>
        </div>

        <!-- Botão de Voltar ao Home -->
        <div class="home-button">
            <a href="/" class="btn">Voltar ao Home</a>
        </div>
    </section>

</body>
</html>
