<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilo.css">
    <title>Sobre Nós</title>
</head>
<body>
    <div class="card">
    <p>Um site sobre café pode ser o ponto de encontro perfeito para apaixonados pela bebida mais popular do mundo. Nele, os visitantes podem explorar uma vasta variedade de conteúdos, desde dicas sobre os melhores grãos e métodos de preparo, até receitas criativas e curiosidades sobre a cultura do café ao redor do mundo. Além disso, o site pode oferecer uma loja online com produtos selecionados, como máquinas, acessórios e, claro, cafés especiais. Com um design acolhedor e funcional, esse espaço virtual convida os usuários a mergulharem no fascinante universo do café, despertando os sentidos e promovendo uma verdadeira experiência sensorial.</p>
    </div>
    <div>
        <a class='btn-volta' href="/">Voltar à Página Inicial</a>
    </div>
</body>
</html>
